@charset "UTF-8";
/* ------------------------------------- 
 *  reset css
 * ------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

input,
button {
  border: none;
}


/* ------------------------------------- 
 *  common css
 * ------------------------------------- */

html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #1B2435;
}
body {
  display: block;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', meiryo, Verdana, "lr oSVbN";
  background-color: #1B2435;
/* text-justify: inter-ideograph; 等幅 */
  font-size: 1em;
  line-height: 1.5;
  color: #191919;
}
#niceBody {
  display: block;
  min-width: 960px;
}
/* 段落タグ ---------------------------- */
p {
  margin: 0em 0em 1.75em 0em;
  padding: 0em 0em 0em 0em;
}
/* 見出しタグ -------------------------- */
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* リストタグ -------------------------- */
ul {
  list-style: none;
}
li {
  list-style: none;
}
ol {
  list-style: none;
}

/* リンクタグ -------------------------- */
a {
}
a:link {
  text-decoration: none;
  color: #054F6C;
}
a:visited {
  text-decoration: none;
  color: #054F6C;
}
a:active {
  border: none;
  text-decoration: none;
  color: #054F6C;
}
a:hover {
  text-decoration: underline;
  color: #054F6C;
}

/* イメージタグ ------------------------ */
img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
  line-height: 100%;
}
.nomargin {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#logo {
	display: block;
	height: 138px;
	width: 111px;
	position: absolute;
	top: 0px;
	left: -140px;
	margin: 0px 0px 0px -3px;
	background-image: url(../image/common/logo.png);
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 10000;
}
#logo #home {
	display: block;
	height: 76px;
	width: 90px;
	margin: 30px 0px 0px 0px;
	text-indent: -9999px;
	overflow: hidden;
}
.wrapper {
	display: block;
	width: 900px;
	margin: 0px auto 0px auto;
	text-align: left;
}

/* ------------------------------------- 
 *  navigation css
 * ------------------------------------- */

#nav {
	display: block;
	height: 46px;
	width: 100%;
	position: fixed;
	top: 45px;
	border-bottom: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	text-align: center;
	z-index: 9999;
}

/* ------------------------------------- 
 *  navigation tree css
 * ------------------------------------- */

#nav #tree {
	display: none;
	position: absolute;
	border: 1px solid #182032;
	border-top: 6px solid #182032;
	margin: 40px 0px 0px 300px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-box-shadow: 0px 1px 1px #999999;
	-webkit-box-shadow: 0px 1px 1px #999999;
	background-color: #FFFFFF;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
#nav #tree a:link,
#nav #tree a:visited {
	display: block;
	height: 30px;
	padding: 0px 16px 0px 30px;
	border-top: 1px solid #182032;
	font-size: 0.75em;
	background-image: url(../image/common/nav_bg.png);
	background-position: left -252px;
	background-repeat: no-repeat;
	font-weight: bold;
	line-height: 30px;
	overflow: hidden;
}
#nav #tree a:hover {
	text-decoration: none;
	background-color: #F7FCFE;
	color: #067399;
}
#nav #tree a:active {
	color: #CA3537;
}
#nav #tree .label {
	display: inline-block;
	position: absolute;
}
#nav #tree .caption {
	display: block;
	padding: 0px 0px 0px 72px;
	font-size: 0.916em;
	font-weight: normal;
}


/* ------------------------------------- 
 *  navigation subtree css
 * ------------------------------------- */

#nav #subtree {
	display: none;
	position: absolute;
	border: 1px solid #182032;
	border-top: 6px solid #182032;
	margin: 40px 0px 0px 300px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-box-shadow: 0px 1px 1px #999999;
	-webkit-box-shadow: 0px 1px 1px #999999;
	background-color: #FFFFFF;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
#nav #subtree a:link,
#nav #subtree a:visited {
	display: block;
	height: 30px;
	padding: 0px 16px 0px 30px;
	border-top: 1px solid #182032;
	font-size: 0.75em;
	background-image: url(../image/common/nav_bg.png);
	background-position: left -252px;
	background-repeat: no-repeat;
	font-weight: bold;
	line-height: 30px;
	overflow: hidden;
}
#nav #subtree a:hover {
	text-decoration: none;
	background-color: #F7FCFE;
	color: #067399;
}
#nav #subtree a:active {
	color: #CA3537;
}
#nav #subtree .label {
	display: inline-block;
	position: absolute;
}
#nav #subtree .caption {
	display: block;
	padding: 0px 0px 0px 72px;
	font-size: 0.916em;
	font-weight: normal;
}


/* ------------------------------------- 
 *  navigation menu css
 * ------------------------------------- */

#nav #menu {
	display: block;
	position: absolute;
	padding: 0px 0px 0px 20px;
	font-size: 0.9375em;
	font-family: 'Cousine', tahoma, 'Arial Narrow', Arial, sans-serif;
	letter-spacing: -1px;
	overflow: hidden;
}
#nav #menu a:link,
#nav #menu a:visited {
	background-color: tranceparent;
	text-decoration: none;
	color: #182032;
}
#nav #menu a:hover {
	text-decoration: none;
	color: #067399;
}
#nav #menu a:active {
	color: #CA3537;
}

#nav #menu .link {
	display: block;
	height: 40px;
	float: left;
	margin: 2px 0px 0px 0px;
	padding: 0px 12px 0px 12px;
	text-align: center;
	line-height: 45px;
	overflow: hidden;
}
#nav #menu .trigger {
	height: 43px;
	padding: 0px 34px 0px 12px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-image: url(../image/common/nav_bg.png);
	background-position: right -49px;
	background-repeat: no-repeat;
}
#nav #menu a:link.active,
#nav #menu a:visited.active,
#nav #menu a:hover.active {
	background-color: #182032;
	color: #FFFFFF;
}
#nav #menu a:active.active {
	color: #CA3537;
}
#nav #menu #menuPagetop {
	width: 100px;
	padding: 0px 0px 0px 0px;
	background-image: url(../image/common/nav_bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: 12px;
}
#nav #menu a:active#menuPagetop {
	color: #067399;
}
#nav #menu .split {
	display: block;
	height: 46px;
	width: 7px;
	float: left;
	background-image: url(../image/common/nav_bg.png);
	background-position: center -200px;
	background-repeat: no-repeat;
	overflow: hidden;
}

/* ------------------------------------- 
 *  navigation user css
 * ------------------------------------- */

#nav #user {
	display: block;
	font-size: 0.71875em;
	margin: 0px -1px 0px 0px;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: right;
}
#nav #user a:link.signup,
#nav #user a:visited.signup {
	display: inline-block;
	height: 25px;
	margin: 9px 0px 0px 3px;
	border: 1px solid #5C6273;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
/*	-moz-box-shadow: 0px 1px 1px #FFFFFF;
	-webkit-box-shadow: 0px 1px 1px #FFFFFF; */
	background-color: #FEFEFE;
	background: -moz-linear-gradient(top,#FEFEFE,#F5F5F6);
	background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#F5F5F6));
	color: #182032;
	vertical-align: middle;
	overflow: hidden;
}
#nav #user a:hover.signup {
	border: 1px solid #182032;
	background: none;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #067399;
}
#nav #user a:active.signup {
	color: #CA3537;
}
#nav #user .userinfo {
	display: inline-block;
	height: 21px;
	margin: 11px 0px 0px 0px;
	padding: 0px 8px 0px 8px;
	border: 1px solid #FFFFFF;
	line-height: 20px;
	vertical-align: middle;
}
#nav #user .userinfo a:link,
#nav #user .userinfo a:visited {
	color: #191919;
}
#nav #user .userinfo a:hover {
	color: #067399;
}
#nav #user a:link#logout,
#nav #user a:visited#logout {
	display: inline-block;
	height: 21px;
	margin: 11px 0px 0px 3px;
	padding: 0px 8px 0px 8px;
	border: 1px solid #CA3537;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFFFFF;
	line-height: 20px;
	color: #CA3537;
	vertical-align: middle;
	overflow: hidden;
}
#nav #user a:hover#logout {
	text-decoration: none;
	background-color: #CA3537;
	color: #FFFFFF;
}
#nav #user a:active#logout {
	border: 1px solid #FF0000;
	background-color: #FF0000;
	color: #FFFFFF;
}
#nav #user .line {
	display: block;
	height: 23px;
	border: 1px solid #FFFFFF;
	background-image: url(../image/common/nav_bg.png);
	background-repeat: no-repeat;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height: 23px;
	overflow: hidden;
}
#nav #user #login .line {
	padding: 0px 6px 0px 24px;
	background-position: left -150px;
}
#nav #user #register .line {
	padding: 0px 6px 0px 28px;
	background-position: left -100px;
}

/* ------------------------------------- 
 *  header css
 * ------------------------------------- */

#header {
	display: block;
	height: 120px;
	width: 100%;
	background-color: #1B2435;
	background-image: url(../image/common/header_bg.png);
	background-repeat: repeat-x;
	text-align: center;
	color: #FFFFFF;
}
#header a:link,
#header a:visited,
#header a:hover {
	color: #FFFFFF;
}

/* ------------------------------------- 
 *  header languege css
 * ------------------------------------- */

#header #lang {
	display: block;
	height: 91px;
	text-align: right;
	font-size: 0.78125em;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 45px;
	overflow: hidden;
}
#header #lang a {
	background-image: url(../image/common/header_icons.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 22px;
}
#header #lang a:link.active,
#header #lang a:visited.active {
	color: #CCCCCC;
}
#header #lang a:hover,
#header #lang a:hover.active {
	color: #FFDD00;
	text-decoration: none;
}
#header #lang #langJp { background-position: -150px center; }
#header #lang #langEn { background-position: left center; }

/* ------------------------------------- 
 *  header working directory css
 * ------------------------------------- */

#header #pwd {
	display: block;
	height: 29px;
	margin: 0px 0px 0px 122px;
	text-align: left;
	font-size: 0.6875em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow : 0px 1px 0px #FFFFFF;
	line-height: 28px;
	color: #858585;
	overflow: hidden;
}
#header #pwd a:link,
#header #pwd a:visited {
	color: #858585;
}
#header #pwd .now,
#header #pwd a:link.now,
#header #pwd a:visited.now {
	color: #182032;
}
#header #pwd a:hover,
#header #pwd a:hover.now {
	color: #067399;
	text-decoration: none;
}
#header #pwd #help {
	display: inline-block;
	float: right;
	padding: 0px 0px 0px 23px;
	background-image: url(../image/common/header_icons.png);
	background-position: -300px center;
	background-repeat: no-repeat;
}

/* by yutaka */
#header #pwd #status {
        display: inline-block;
        float: right;
        padding: 0px 0px 0px 23px;
        background-image: url(../image/common/chart-pie.png);
        background-position: 0px center;
        background-repeat: no-repeat;
}
#beginners {
        display: inline-block;
        float: left;
        padding: 0px 0px 0px 23px;
        background-image: url(../image/common/chart-up-color.png);
        background-position: 0px center;
        background-repeat: no-repeat;
}




/* ------------------------------------- 
 *  contents css
 * ------------------------------------- */
#contents {
	display: block;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	color: #191919;
}
#contents a:link,
#contents a:visited,
#contents a:hover {
	color: #067399;
}
#contents a.arrow:link,
#contents a.arrow:visited,
#contents a.arrow:hover {
	display: inline-block;
	padding: 0px 0px 0px 16px;
	background-image: url(../image/common/contents_aicons.png);
	background-position: left center;
	background-repeat: no-repeat;
	color: #067399;
}

#contents #pageinfo {
	display: block;
	padding: 10px 0px 20px 0px;
	background-color: #F1F1F1;
}
#contents #page {
	display: block;
	padding: 20px 0px 0px 0px;
}
#contents #pageinfo .wrapper,
#contents #page .wrapper {
	display: block;
	width: 778px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 122px;
	text-align: left;
}
#contents #pageinfo .subinfo {
	display: inline-block;
	float: right;
	text-align: right;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.75em;
}
#contents #pageinfo .subinfo .label {
	display: block;
	float: left;
	padding: 0px 5px 0px 0px;
	font-weight: bold;
}
#contents #pageinfo .subinfo .icon {
	display: inline-block;
	height: 36px;
	width: 40px;
	margin: 4px 0px 0px 0px;
	background-image: url(../image/common/problem_icons.png);
	background-repeat: no-repeat;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
}
#contents #pageinfo .subinfo #problemSubmit {
	background-position: center top;
}
#contents #pageinfo .subinfo #problemStatistics {
	background-position: center -50px;
}
#contents #pageinfo .subinfo .dat {
	display:block;
	float: right;
}
#contents #pageinfo .title {
	font-family: 'PT Sans Narrow', tahoma, 'Arial Narrow', Arial, sans-serif;
	font-size: 2.25em;
	line-height: 1.1;
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #A8A8A8;
	color: #0C334E;
}
#contents #pageinfo .caption {
	margin: 10px 0px 0px 0px;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.78125em;
}

/* ------------------------------------- 
 *  footer css
 * ------------------------------------- */

#footer {
	display: block;
	width: 100%;
	padding: 60px 0px 20px 0px;
	background-color: #1B2435;
	background-image: url(../image/common/footer_bg2.png);
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Tahoma, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', meiryo, 'Helvetica Neue', Helvetica, Geneva, verdana, sans-serif;
	text-align: center;
	color: #FFFFFF;
}
#footer a:link,
#footer a:visited,
#footer a:hover {
	color: #FFDD00;
}
#footer.bgGray {
	background-image: url(../image/common/footer_bg2.png);
}
#footer #subinfo {
}
#footer #subinfo #twitter {
	display: block;
	width: 277px;
	float: left;
	font-size: 0.7185em;
	overflow: hidden;
}
#footer #subinfo #twitter .info {
	display: block;
	height: 90px;
	background-image: url(../image/common/twitter_balloon.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	overflow: hidden;
}
#footer #subinfo #twitter .profile {
	display: block;
	float: left;
	padding: 0px 10px 0px 0px;
}
#footer #subinfo #twitter .comment {
	line-height: 1.75;
	clear: both;
}
#footer #subinfo #submenu {
	display: block;
	width: 583px;
	float: right;
	overflow: hidden;
}
#footer #subinfo #submenu .category {
	display: block;
	background-image: url(../image/common/submenu_line.png);
	background-position: left top;
	background-repeat: repeat-x;
}
#footer #subinfo #submenu .setHeight {
	height: 63px;
	overflow: hidden;
}
#footer #subinfo #submenu .label {
	display: inline-block;
	height: 24px;
	padding: 0px 14px 0px 0px;
	background-color: #1B2435;
	font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	line-height: 1.03;
}
#footer #subinfo #submenu p {
	margin: 0em 0em 1.25em 0em;
	font-size: 0.7185em;
	line-height: 2em;
}
#footer #subinfo #submenu a:link,
#footer #subinfo #submenu a:visited {
	display: inline-block;
/*	padding: 0px 24px 0px 0px; */
	padding: 0px 16px 0px 16px;
	background-image: url(../image/common/submenu_link.png);
	background-position: left center;
	background-repeat: no-repeat;
	white-space: nowrap;
	color: #A4A7AE;
}
#footer #subinfo #submenu a:hover {
	color: #FFDD00;
}

#footer #subscription {
	padding: 20px 0px 0px 0px;
	font-size: 0.6875em;
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #464D5B;
	clear: both;
}
#footer #subscription a:link,
#footer #subscription a:visited {
	text-decoration: underline;
	color: #464D5B;
}
#footer #subscription a:hover {
	text-decoration: underline;
	color: #FFDD00;
}
#footer #subscription #viewer {
	display: block;
	width: 277px;
	float: left;
	overflow: hidden;
}
#footer #subscription #copyright {
	display: block;
	width: 583px;
	float: right;
	overflow: hidden;
}

/* ------------------------------------- 
 *  chrome frame css
 * ------------------------------------- */

#cfBlock {
	position: absolute;
	z-index: 10001;
}
.chromeFrameInstallDefaultStyle {
}